.grid-block {
	.grid-block-filled {
		background: linear-gradient(
			-45deg,
			--alpha(var(--color-white) / 0%) 40%,
			var(--color-white) 50%,
			--alpha(var(--color-white) / 0%) 60%
		);
		animation-name: Light;
		animation-fill-mode: both;
		animation-duration: 10s;
		animation-iteration-count: infinite;
	}
	.grid-block-perfect {
		background: linear-gradient(
			-45deg,
			rgba(255, 0, 0, 1) 0%,
			rgba(255, 154, 0, 1) 10%,
			rgba(208, 222, 33, 1) 20%,
			rgba(79, 220, 74, 1) 30%,
			rgba(63, 218, 216, 1) 40%,
			rgba(47, 201, 226, 1) 50%,
			rgba(28, 127, 238, 1) 60%,
			rgba(95, 21, 242, 1) 70%,
			rgba(186, 12, 248, 1) 80%,
			rgba(251, 7, 217, 1) 90%,
			rgba(255, 0, 0, 1) 100%
		);
		animation-name: LightBounce;
		animation-fill-mode: both;
		animation-duration: 7s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}
	.grid-block-empty {
		animation-name: Blink;
		animation-fill-mode: both;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
	}
}
@keyframes Light {
	0% {
		transform-origin: 100% 100%;
	}
	20%,
	100% {
		transform-origin: 0% 0%;
	}
}
@keyframes LightBounce {
	0%,
	10%,
	100% {
		transform-origin: 100% 100%;
	}
	50%,
	60% {
		transform-origin: 0% 0%;
	}
}
@keyframes Blink {
	0%,
	10%,
	15%,
	25%,
	40%,
	45%,
	75%,
	80%,
	95%,
	100% {
		opacity: 0;
	}
	5%,
	15%,
	30%,
	55%,
	70% {
		opacity: 0.25;
	}
	3%,
	20%,
	35%,
	85%,
	90% {
		opacity: 0.5;
	}
	65%,
	60% {
		opacity: 0.75;
	}
	50% {
		opacity: 1;
	}
}
