progress::-webkit-progress-bar {
	border-radius: 0 !important;
	transition: width 0.2s ease-in-out;
}

progress::-webkit-progress-value {
	border-radius: 0 !important;
	transition: width 0.2s ease-in-out;
}

progress::-moz-progress-bar {
	border-radius: 0 !important;
	transition: width 0.2s ease-in-out;
}
