@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
	themes: light --default;
	root: ":root";
	include: button, input, range, toggle, progress, indicator, badge, countdown;
	logs: true;
}

.lucide {
	stroke-width: 2px;
}