@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
	themes: light --default;
	root: ":root";
	include: button, toggle, progress;
	logs: true;
}

.lucide {
	stroke-width: 2px;
}