@import './config.css';

@layer base {
	html {
		scroll-behavior: smooth;
		width: -webkit-fill-available;
		height: -webkit-fill-available;
	}

	body {
		@apply overscroll-x-none
			overscroll-y-none
			min-h-[100vh]
			max-w-[100vw]
			overflow-hidden;

		min-height: -webkit-fill-available;
	}
}
