.game-grid {
	padding: calc(var(--scale) * 6rem);

	> .grid {
		box-shadow: 0 calc(var(--scale) * 0.5rem) calc(var(--scale) * 8rem)
			--alpha(var(--color-accent) / 50%);
	}
	&.game-grid-right {
		> .grid {
			box-shadow: 0 calc(var(--scale) * 0.5rem) calc(var(--scale) * 8rem)
				--alpha(var(--color-primary) / 100%);
		}
	}

	&.game-grid-error {
		> .grid {
			animation-name: Shake;
			animation-duration: 0.2s;
			animation-iteration-count: infinite;

			box-shadow: 0 calc(var(--scale) * 0.5rem) calc(var(--scale) * 8rem)
				--alpha(var(--color-error) / 50%);
		}
	}

	.game-grid-hint,
	.game-grid-block {
		&::after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			border-top-width: 1px;
			border-left-width: 1px;
			border-color: --alpha(var(--color-base-300) / 60%);
			mix-blend-mode: multiply;
			pointer-events: none;
		}
		&.game-grid-hint-t-strong,
		&.game-grid-block-t-strong {
			&::after {
				border-top-width: 2px;
				border-top-color: var(--color-base-300);
			}
		}
		&.game-grid-hint-l-strong,
		&.game-grid-block-l-strong {
			&::after {
				border-left-width: 2px;
				border-left-color: var(--color-base-300);
			}
		}
		&.game-grid-hint-b-strong,
		&.game-grid-block-b-strong {
			&::after {
				border-bottom-width: 2px;
				border-bottom-color: var(--color-base-300);
			}
		}
		&.game-grid-hint-r-strong,
		&.game-grid-block-r-strong {
			&::after {
				border-right-width: 2px;
				border-right-color: var(--color-base-300);
			}
		}
	}
}

@keyframes Shake {
	0%,
	100% {
		transform: translateX(0) rotate(0);
		filter: blur(0);
	}
	25%,
	75% {
		transform: translateX(0.5%) rotate(0.4deg);
		filter: blur(0.1rem);
	}
	50% {
		transform: translateX(-0.5%) rotate(-0.4deg);
	}
}
