@reference '@/styles/config.css';

.game-grid-block-empty {
	&::before {
		@apply content-[''] absolute inset-0
			shadow-[inset_0_calc(var(--scale)*1.3rem)_calc(var(--scale)*0.7rem)]
			opacity-30 text-primary;
	}
	&.game-grid-block-empty-error {
		@apply before:text-error;
	}
	&.game-grid-block-empty-glitch {
		&::after {
			@apply content-[''] absolute inset-0
				bg-primary animate-[empty-glitch_1.5s_var(--glitch-delay)_both_infinite];
		}
	}
}
@keyframes empty-glitch {
	0%,
	10%,
	15%,
	25%,
	40%,
	45%,
	75%,
	80%,
	95%,
	100% {
		opacity: 0;
	}
	5%,
	15%,
	30%,
	55%,
	70% {
		opacity: 0.05;
	}
	3%,
	20%,
	35%,
	85%,
	90% {
		opacity: 0.1;
	}
	65%,
	60% {
		opacity: 0.125;
	}
	50% {
		opacity: 0.15;
	}
}
