@reference '@/styles/config.css';

.game-grid-block-filled-perfect {
	@apply animate-[light-bounce_7s_ease-in-out_both_infinite];

	background: linear-gradient(
		-45deg,
		rgba(255, 0, 0, 1) 0%,
		rgba(255, 154, 0, 1) 10%,
		rgba(208, 222, 33, 1) 20%,
		rgba(79, 220, 74, 1) 30%,
		rgba(63, 218, 216, 1) 40%,
		rgba(47, 201, 226, 1) 50%,
		rgba(28, 127, 238, 1) 60%,
		rgba(95, 21, 242, 1) 70%,
		rgba(186, 12, 248, 1) 80%,
		rgba(251, 7, 217, 1) 90%,
		rgba(255, 0, 0, 1) 100%
	);
}
@keyframes light-bounce {
	0%,
	10%,
	100% {
		transform-origin: 100% 100%;
	}
	50%,
	60% {
		transform-origin: 0% 0%;
	}
}
