@reference '@/styles/config.css';

.game-grid-block-filled-shining {
	@apply animate-[shining_10s_var(--shining-delay)_both_infinite];

	background: linear-gradient(
		-45deg,
		--alpha(var(--color-white) / 0%) 40%,
		var(--color-white) 50%,
		--alpha(var(--color-white) / 0%) 60%
	);
}
@keyframes shining {
	0% {
		transform-origin: 100% 100%;
	}
	20%,
	100% {
		transform-origin: 0% 0%;
	}
}
