.game-grid-block {
	min-width: calc(var(--scale) * var(--grid-block-size));
	min-height: calc(var(--scale) * var(--grid-block-size));
	font-size: calc(var(--text-4xl) * var(--scale));
	background-color: --alpha(var(--color-white) / 60%);

	&.game-grid-block-glitching {
		animation-name: Glitching;
		animation-fill-mode: both;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-delay: var(--glitching-delay);
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: --alpha(
			var(--color-base-300) / var(--block-random-opacity)
		);
	}
}
@keyframes Glitching {
	0%,
	50% {
		background-color: --alpha(var(--color-white) / 80%);
	}
	5%,
	15%,
	30% {
		background-color: --alpha(var(--color-white) / 90%);
	}
	3%,
	20%,
	35% {
		background-color: --alpha(var(--color-white) / 70%);
	}
}
