.game-grid-block {
	min-width: calc(var(--scale) * var(--grid-block-size));
	min-height: calc(var(--scale) * var(--grid-block-size));
	font-size: calc(var(--text-4xl) * var(--scale));
	background-color: rgba(
		var(--block-color),
		var(--block-random-opacity, 0.4)
	);

	&.game-grid-block-glitching {
		animation-name: Glitching;
		animation-fill-mode: both;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-delay: var(--glitching-delay);
	}
}
@keyframes Glitching {
	0%,
	56% {
		background-color: rgba(var(--block-color), 0.6);
	}
	8%,
	16%,
	32% {
		background-color: rgba(var(--block-color), 0.4);
	}
	4%,
	24%,
	48% {
		background-color: rgba(var(--block-color), 0.7);
	}
	60%,
	100% {
		background-color: rgba(var(--block-color), 0.3);
	}
}
