.game-grid-block {
	min-width: calc(var(--scale) * var(--grid-block-size));
	min-height: calc(var(--scale) * var(--grid-block-size));
	font-size: calc(var(--text-4xl) * var(--scale));
	background-color: --alpha(var(--color-white) / 60%);

	&.game-grid-block-glitching {
		animation-name: Glitching;
		animation-fill-mode: both;
		animation-duration: 0.7s;
		animation-iteration-count: infinite;
		animation-delay: var(--delay);
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: --alpha(
			var(--color-base-300) / var(--random-opacity)
		);
	}
}
@keyframes Glitching {
	0%,
	10%,
	15%,
	25%,
	40%,
	45%,
	75%,
	80%,
	95%,
	100% {
		background-color: --alpha(var(--color-white) / 60%);
	}
	5%,
	15%,
	30%,
	55%,
	70% {
		background-color: --alpha(var(--color-white) / 90%);
	}
	3%,
	20%,
	35%,
	85%,
	90% {
		background-color: --alpha(var(--color-white) / 50%);
	}
	65%,
	60% {
		background-color: --alpha(var(--color-white) / 30%);
	}
	50% {
		background-color: --alpha(var(--color-white) / 10%);
	}
}
